.site-branding {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__atomic-symbol {
        max-width: 12rem;
    }

    &__headframe {
        max-width: 12rem;
    }

    .site-title {
        margin-bottom: .5rem;
        border-bottom: none;

        a {
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $color-black;
        }
    }

    .site-description {
        font-size: 3rem;
    }
}