.sidebar-width {

    .entry-content {


        .sidebar-image {
            max-width: 30rem;
            float: right;

            @include respond(tab-port) {
                max-width: 100%;
                float: none;
            }
        }
    }
}