// Main Menu
.main-navigation {
    width: 100%;
    display: block;
    background: $color-black;
    margin-top: 3rem;

    @include respond(tab-port) {
        display: none;
    }

}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    margin: 2rem 0rem;

    a {
        text-transform: uppercase;
        color: $color-white;
    }
}

// will have to add mobile menu here. 