// Main Menu
.main-navigation {
    width: 100%;
    display: block;

    @include respond(phone) {
        display: none;
    }

}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 10rem;
}

// will have to add mobile menu here. 