/**
* Typography
**/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey;
}


h1,
h2,
h3 {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
}

h1 {}

p {
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 100;
    text-align: justify;
}

a {
    text-decoration: none;
    color: $color-blue;
}

li {
    font-size: 16px;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    margin-left: 20px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-size: 1.6rem;
}

/* modifying block styles */
.wp-block-image {
    width: 100%;
    max-width: 80rem;
    padding-left: 3rem;
    margin: 0;
    margin-bottom: 3rem;
}