.page-news {
    max-width: 120rem;
    margin: 2rem 5rem;

    &__container {
        margin-top: 8rem;
    }

    &__listing {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__thumbnail {
        max-width: 30rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        margin-left: 5rem;
    }
}